html,
body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 800px;
}

.post-enter {
  transform: translateX(-350px);
  opacity: 0;
}
.post-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: 300ms, transform 300ms;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  opacity: 0;
  transform: translateX(-350px);
  transition: 300ms, transform 300ms;
}

